.DS_Store
*[Bb]uild/
.idea/
.repos/
/mulle_mintomic
xcuserdata/
project.xcworkspace/
*.old
.bootstrap.auto/
.bootstrap.local/
addictions/
dependencies/
mintomic/
mulle-configuration/
old/
tmp/
*.dSYM/
*.exe
