.DS_Store
.idea/
.repos/

*.dSYM/
*.exe
*.old
*[Bb]uild/

addictions/
dependencies/

/.bootstrap.auto/
/.bootstrap.local/
/.repos/
/addictions/
/dependencies/
old/
project.xcworkspace/
tmp/
xcuserdata/
/mintomic/
/mulle-configuration/
/tests/include/
/tests/lib/

