{
   project =
   {
      description="🔠 Cross-platform thread/mutex/tss/atomic operations in C";
      domain="github";
      language="c";
      dialect="c";
      name="mulle-thread";
      user="mulle-concurrent";
      repo="mulle-thread";
      homepage="https://github.com/mulle-concurrent/mulle-thread";
      license="BSD-3-Clause";
   };
   dependencies =
   (
      {
         description="🔀 Cross-platform C compiler glue (and some cpp conveniences)";
         domain="github";
         name="mulle-c11";
         repo="mulle-c11";
         url="https://github.com/mulle-c/mulle-c11";
         user="mulle-c";
      }
   );
   embedded =
   (
      {
         description="For more information, see [the documentation](http://mintomic.github.io/) or the accompanying blog post, [Introducing Mintomic](http://preshing.com/20130505/introducing-mintomic-a-small-portable-lock-free-api).";
         domain="github";
         name="mintomic";
         repo="mintomic";
         url="https://github.com/mulle-concurrent/mintomic";
         user="mulle-concurrent";
      }
   );
}
